.show {
  display: block;
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  background: #fff;
  display: grid;
  align-items: center;
  top: 0;
  left: 0;
  transition: 0.3s ease-in-out;
}

.hide {
  display: none;
}

.close-icon {
  color: #1c1c1c;
  font-size: 2rem;
  margin-left: 20px;
}

.menu {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 100px);
  text-align: justify;
}

@media screen and (max-width: 480px) {
  .menu {
    grid-template-rows: repeat(6, 70px);
  }
}

.menu-items {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  text-decoration: none;
  list-style: none;
  transition: 0.2s ease-in-out;
  color: #676767;
  cursor: pointer;
}
