footer {
  display: flex;
  border-top: 1px solid #e1e1e1;
  width: 100%;
  height: 80px;
}
.section-one {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 200px;
  border-right: 1px solid #e1e1e1;
}
.section-one p {
  font-size: 22px;
  color: #1c1c1c;
}

.section-two-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-two {
  padding-left: 49px;
  justify-content: center;
  align-items: center;
}

.section-two p {
  margin: 0 !important;
}

.section-two .top {
  color: #1c1c1c;
  font-weight: bold;
  font-size: 22px;
}

.section-two .top {
  color: #676767;
  font-weight: lighter;
  font-size: 18px;
}

.section-two-container .end {
  margin-left: 270px;
  display: flex;
}

.section-two-container .end h4 {
  color: #1c1c1c;
  font-size: 35px;
  margin-right: 20px;
  margin-bottom: 0;
  text-align: center;
}

button {
  background-color: #1c1c1c;
  color: #fff;
  border-radius: 5px;
  width: 200px;
  height: 60px;
  border: none;
  outline: none;
}

button:hover {
  background-color: #fff;
  color: #1c1c1c;
  border: 1px solid #1c1c1c;
  transition: 0.2s ease-in-out;
}

@media screen and (max-width: 1199px) {
  footer {
    overflow: hidden;
  }
  .section-one {
    padding: 0 7px 0 5px;
  }
  .section-one p {
    font-size: 16px;
  }

  .section-two {
    width: 500px;
  }
  .section-two .top,
  .section-two .bottom {
    font-size: 16px;
  }

  .section-two-container .end h4 {
    color: #1c1c1c;
    font-size: 24px;
    margin-top: 10px;

    margin-bottom: 0;
    text-align: center;
  }
}

@media screen and (max-width: 1090px) {
  footer {
    margin-top: 50px;
  }

  button {
    width: 100px !important;
    height: 60px;
  }
}

@media screen and (max-width: 1163px) {
  .section-two-container .end {
    margin-left: 100px;
    display: flex;
  }
}

@media screen and (max-width: 900px) {
  .section-one {
    display: none;
  }
}

@media screen and (max-width: 815px) {
  .section-one {
    display: none;
  }

  .section-two-container {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 500px) {
  footer {
    height: 150px;
  }
  .section-two-container .end {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 10px 10px 10px 0;
  }

  .section-two {
    padding-left: 0;
    padding-right: 10px;
  }
  .section-two-container {
    margin: 70px 20px;
  }

  .section-two .top,
  .section-two .bottom {
    max-width: 400px;
  }
}

@media screen and (max-width: 400px) {
  .large-image {
    margin-left: 0;
  }
}
