.img-wrapper {
  margin: auto;
  width: 100%;
  max-width: 540px;
  display: flex;
}

.large-image {
  width: 512px;
  height: 476px;
}
.selected {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.img-wrapper .img-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 40px 0 0 0;
}

.img-wrapper .img-container img {
  width: 110px;
  height: 102px;
  margin: 30px 33px;
  border: 1px solid #676767;
  border-radius: 5px;
  padding: 10px;
}
